document.addEventListener('DOMContentLoaded', () => {

  const cardArray = [
    //Planetas imagens
  {
    name: '1',
    img: 'img/planetas/1.png'
  },
  {
    name: '2',
    img: 'img/planetas/3.png'
  },
  {
    name: '3',
    img: 'img/planetas/5.png'
  },
  {
    name: '4',
    img: 'img/planetas/7.png'
  },
  {
    name: '5',
    img: 'img/planetas/9.png'
  },
  {
    name: '6',
    img: 'img/planetas/11.png'
  },
  {
    name: '7',
    img: 'img/planetas/13.png'
  },
  {
    name: '8',
    img: 'img/planetas/15.png'
  },
    // Planetas nomes
  {
    name: '1',
    img: 'img/planetas/2.png'
  },
  {
    name: '2',
    img: 'img/planetas/4.png'
  },
  {
    name: '3',
    img: 'img/planetas/6.png'
  },
  {
    name: '4',
    img: 'img/planetas/8.png'
  },
  {
    name: '5',
    img: 'img/planetas/10.png'
  },
  {
    name: '6',
    img: 'img/planetas/12.png'
  },
  {
    name: '7',
    img: 'img/planetas/14.png'
  },
  {
    name: '8',
    img: 'img/planetas/16.png'
  }
  ]

  cardArray.sort(() => 0.5 - Math.random())

  const grid = document.querySelector('.grid')
  const result1 = document.querySelector('#result1')
  const result2 = document.querySelector('#result2')

  // Pontuacao
  const p1 = document.querySelector('#p1')
  const p2 = document.querySelector('#p2')
  console.log([p1, p2])
  var cardsChosen = []
  var cardsChosenId = []
  const cardsMatchedBy1 = []
  const cardsMatchedBy2 = []
  var player1 = true
  var player2 = false

  //Criar grade
  function createGrid() {
    for (let i = 0; i < cardArray.length; i++) {
      var card = document.createElement('img')
      card.setAttribute('src', 'img/card_bg.png')
      card.setAttribute('data-id', i)
      card.setAttribute('class', 'tile')
      card.addEventListener('click', flipCard)
      grid.appendChild(card)
    }
  }

  //Verificar pares
  function checkMatch() {
    var cards = document.querySelectorAll('img')
    const optionOneId = cardsChosenId[0]
    const optionTwoId = cardsChosenId[1]

    if(optionOneId == optionTwoId) {
      cards[optionOneId].setAttribute('src', 'img/card_bg.png')
      cards[optionTwoId].setAttribute('src', 'img/card_bg.png')
      alert('You have clicked the same image!')
    }
    else if (cardsChosen[0] === cardsChosen[1]) {
      // cards[optionOneId].setAttribute('src', '')
      // cards[optionTwoId].setAttribute('src', '')
      cards[optionOneId].removeEventListener('click', flipCard)
      cards[optionTwoId].removeEventListener('click', flipCard)
      if(player1){
        cardsMatchedBy1.push(cardsChosen)
      }
      else if(player2){
        cardsMatchedBy2.push(cardsChosen)
      }
    }
    else {
      setTimeout(() => {
        cards[optionOneId].setAttribute('src', 'img/card_bg.png')
        cards[optionTwoId].setAttribute('src', 'img/card_bg.png')
        if(player1){
          player1=false
          player2=true
        }
        else if(player2){
          player2=false
          player1=true
        }
      }, 500)
      currentPlayer()
    }
    cardsChosen = []
    cardsChosenId = []
    
    // Player atual
    function currentPlayer(){
      if(player1){
        p2.classList.add("active")
        p1.classList.remove("active")
      }
      else{
        p1.classList.add("active")
        p2.classList.remove("active")
      }
    }

    if(player1){
      result1.textContent = cardsMatchedBy1.length 
    }
    else if(player2){
      result2.textContent = cardsMatchedBy2.length
    }
  }

  //vira carta  
  function flipCard() {
    var cardId = this.getAttribute('data-id')
    cardsChosen.push(cardArray[cardId].name)
    cardsChosenId.push(cardId)
    this.setAttribute('src', cardArray[cardId].img)
    if (cardsChosen.length ===2) {
      setTimeout(checkMatch, 500)
    }
  }    

  createGrid()
})
